@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Gothic:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,400&family=Quicksand:wght@300;400;500;600;700&family=Sen&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    width: 12px;
    
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    width: 14px;
  }
   
 
  ::-webkit-scrollbar-thumb {
    background: rgb(206, 200, 200); 
    border-radius: 15px;
    
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 172, 172); 
    
  } 
